HERMES_API_KEY=your_hermes_api_server_key_here
HERMES_API_URL=http://YOUR_VM_IP:8642
VM_HOST=YOUR_VM_IP
VM_USER=YOUR_VM_USER
OPENBRAIN_URL=http://YOUR_VM_IP:3040
CACHE_TTL_SECONDS=60
CHAT_MAX_TOKENS=16000
